<?xml version="1.0"?>
<sdf version='1.7' xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Cats -->
  <!-- Type 1 (laying) size: 0.5 0.205 0.372 -->
  <!-- Type 2 (sleeping) size: 0.46 0.36 0.178 -->
  <!-- Type 3 (standing) size: 1.275 0.343 1.315 -->
  <!-- Type 4 (sitting) size: 0.322 0.205 0.464 -->
  <xacro:macro name="cat" params="type serial x y z rx ry rz sx sy sz cx cy cz">
    <model name='cat_goal_${type}_${serial}'>
      <static>1</static>
      <pose>${x} ${y} ${z} ${rx} ${ry} ${rz}</pose>
      <link name='link'>
        <visual name='visual'>
          <geometry>
            <mesh>
              <uri>file://$(find tank_robot)/meshes/cat_${type}/model.dae</uri>
              <scale>${sx} ${sy} ${sz}</scale>
            </mesh>
          </geometry>
        </visual>
        <collision name='collision'>
          <pose>0 0 ${sz*cz}</pose>
          <geometry>
            <box>
              <size>${sx*cx} ${sy*cy} ${sz*cz}</size>
            </box>
          </geometry>
        </collision>
      </link>
    </model>
  </xacro:macro>

</sdf>